body {
    background-color: dimgray;
}
.row {
    margin-top: 0px !important;
}
h3 {
    font-family: 'Dancing Script',cursive;
    color:white;
}
.nav2Color {
    background-color: #232f3e;
}
.order {
    display:flex;
}
.text-center {
    font-size:12.5px !important;
}
/*
.size {
    width:200px;
    height:150px;
}
 */
/*color the #container1 */
body {
    background-image: linear-gradient(to right,lightgray,gray,lightgrey,darkgrey,dimgrey) !important;
}
.space {
    justify-content: space-between;
}
.carousel-control-prev-icon {
    background-color:dimgrey !important;
}
.carousel-control-next-icon {
    background-color:dimgrey !important;
}
.back2top {
    display: flex;
    justify-content: center;
    background-color: rgba(3, 0, 0, 0.5);
    color: snow;
}
.back2top:hover {
    background: rgba(10,0,0,0.7);
}
/*footer*/
footer {
    background-color: #232f3e;
}
.order1{
    display:flex;
    color:snow;
    justify-content: space-around;
}
